body {
  color: darkgrey;
  background-color: #161616;
  margin: 2px;
  font: 16px Sans-Serif;
}

* {
  box-sizing: border-box;
}

header {
  font-size: 250%;
  font-family: 'Caveat', cursive;
}

.tehtava {
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px 10px 10px 30px;
  border-radius: 5px;
  background-color: #262626;
  box-shadow: 3px 3px 4px green;
}

p {
  text-align: center;
}

footer {
  font-family: monospace;
  margin: 5px 0 5px 0;
  text-align: center;
}

.tehtava button {
  color: green;
  background-color: #464646;
  padding: 5px;
}


.tehtava h1 {
  text-align: left;
  font-size: 225%;
  font-family: 'Shadows Into Light', cursive;
  text-shadow: 2px 2px black;
}

.tehtava p {
  color: green;
  text-align: left;
}

.vastausss {
  margin-top: 35px;
  margin-left: auto!important;
  margin-right: auto!important;
  padding: 5px;
  border: 1px solid red;
  width: 75%
}
