body {
  color: darkgrey;
  background-color: #161616;
  background-image: url("../network.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2px;
  font: 16px Sans-Serif;
  overflow: auto;
}

* {
  box-sizing: border-box;
}

header {
  font-size: 250%;
  font-family: "Caveat", cursive;
}

header > div {
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

p {
  text-align: center;
}

input {
  text-align: center;
}

ul > li {
  color: #8cb3d9;
}

section > div {
  width: 33%;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

footer {
  font-family: monospace;
  margin: 5px 0 5px 0;
  text-align: center;
}

.flex-kontti {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-kontti > section {
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  background-color: #19334d;
  box-shadow: 3px 3px 5px #060d13;
}

.flex-kontti button {
  color: #8cb3d9;
  background-color: #19334d;
  padding: 5px;
}

.flex-kontti h1 {
  color: #6699cc;
  text-align: left;
  font-size: 225%;
  font-family: "Shadows Into Light", cursive;
  text-shadow: 2px 2px black;
}

.flex-kontti p {
  color: #8cb3d9;
  text-align: left;
}
